<div class="container">
    <div class="row">
        <div class="col-12 line_r">
            <h1 class="text-center"> All initial Home page content goes here .... </h1>
            <br> <br> <br> <br><br> <br> <br> 
        </div>
    </div>
</div>